.App {
  text-align: center;
  padding: 15px;
}
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 15px;
}
.movies-list-item {
  img {
    width: 100%;
  }
}
.card-movie {
  display: grid;
  grid-template-areas:
    'img div-content'
    'details-box details-box';
  grid-template-columns: 30% 1fr;
  img {
    grid-area: img;
    width: 100%;
  }
  .content-card-movie {
    grid-area: div-content;
    background-color: burlywood;
    text-align: left;
    padding-left: 30px;
  }
  .details-movies-box {
    grid-area: details-box;
    background-color: aqua;
  }
}
