.App {
  // text-align: center;
  padding: 15px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 15px;
  a {
    text-decoration: none;
    :hover,
    :focus {
      background-color: rgb(243, 243, 243);
    }
  }
}
.movies-list-item {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 3px;
  img {
    width: 100%;
    object-fit: cover;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: black;
  }
  span {
    color: black;
  }
}
.batton-go-back {
  margin: 10px;
}
.card-movie {
  display: grid;
  grid-template-areas:
    'img div-content'
    'details-box details-box';
  grid-template-columns: 30% 1fr;
  img {
    grid-area: img;
    width: 100%;
    border: 1;
  }
  .content-card-movie {
    grid-area: div-content;
    text-align: left;
    padding-left: 30px;
    h1 {
      font-size: 40px;
      color: rgba(63, 0, 0, 0.856);
    }
  }
  .details-movies-box {
    grid-area: details-box;
    border-top: 1px solid gray;
    margin-top: 5px;
  }
  .cast-reviews-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid grey;
    li {
      padding-left: 40px;
      font-size: 18px;
      font-weight: 600;
      color: brown;
    }
  }
}
.form-on-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  input {
    font-size: 24px;
    padding-left: 40px;
  }
  button {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    left: 0;
    background: none;
    border: none;
    &:focus,
    &:active {
      outline: none;
    }
  }
}
.svg-search {
  fill: rgb(110, 110, 110);
  width: 24px;
  height: 24px;
}
.batton-go-back {
  background-color: gray;
  border-radius: 4px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.svg-arrow {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
